{% extends 'boutique1/base.html' %}
{% block title %}Produits{% endblock %}
{% block produits_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row"><h2>Tous les produits</h2></div>

    <div class="row">

       <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'boutique1:detail' boutique.id %}">
                        {% if boutique.logo_boutique %}
                            <img src="{{ boutique.logo_boutique.url }}" class="img-responsive">
                        {% else %}
                            <h3>Pas d'images</h3>
                        {% endif %}
                    </a>
                    <h1>{{ boutique.nom_boutique }}</h1>
                </div>
            </div>
        </div>

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom produit</th>
                                <th>Prix</th>
                                <th>Description</th>
                                <th>Image Produit</th>
                                <th>Boutique</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produit in produit_list %}
                                <tr>
                                    <td>{{ produit.nom_produit }}</td>
                                    <td>{{ produit.prix_produit}}</td>
                                    <td>{{ produit.description }}</td>
                                    <td>
                                        <span href="{% url 'boutique1:detail' produit.id %}">
                                            <img src="{{ produit.image_produit.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </span>
                                        <span href="{% url 'boutique1:detail' produit.id %}">{{ produit.nom_produit }}</span>
                                    </td>
                                    <td>
                                        <a href="{% url 'boutique1:detail' produit.Boutique.id %}">
                                            <img src="{{ produit.Boutique.logo_boutique.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'boutique1:detail' produit.Boutique.id %}">{{ produit.Boutique.nom_boutique }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
