{#{% for field in form %}#}
{#    <div class="form-group">#}
{#        <div class="col-sm-offset-2 col-sm-10">#}
{#            <span class="text-danger small">{{ field.errors }}</span>#}
{#        </div>#}
{#        <label class="control-label col-sm-2">{{ field.label_tag }}</label>#}
{#        <div class="col-sm-10">{{ field }}</div>#}
{#    </div>#}
{#{% endfor %}#}


{#    <div class="row">#}
{#    <div class="col-md-9">#}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ form.errors }}</span>
            </div>
            <label class="control-label col-sm-2">Title: </label>
            <div class="col-sm-10">{{ form.title }}</div>
        </div>

         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ form.errors }}</span>
            </div>
            <label class="control-label col-sm-2">Produit: </label>
            <div class="col-sm-10">{{ form.produit }}</div>
         </div>

         <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="text-danger small">{{ form.errors }}</span>
                </div>
            <label class="control-label col-sm-2">Collection: </label>
            <div class="col-sm-10"  style="overflow: auto;max-height: 270px">{{ form.collection }}</div>
         </div>

         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ form.errors }}</span>
            </div>
            <label class="control-label col-sm-2">Discount: </label>
            <div class="col-sm-10">{{ form.discount_value }}</div>
        </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ form.errors }}</span>
            </div>
            <label for="date" class="control-label col-sm-2">Start time: </label>
            <input type="date" name="start_time" id="date" style="width: 83%" value="{{ form.start_time.value }}"/>
        </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <span class="text-danger small">{{ form.errors }}</span>
            </div>
            <label for="date" class="control-label col-sm-2">End time: </label>
            <input type="date" name="end_time" id="date" style="width: 83%" value="{{ form.end_time.value }}"/>
{#            <div class="col-sm-10">{{ form.start_time }}</div>#}
        </div>
{#    </div>#}

{#    <div class="col-md-3">#}
{##}
{#         <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#                <span class="text-danger small">{{ form.errors }}</span>#}
{#            </div>#}
{#            <label class="control-label col-sm-4">Picture: </label>#}
{#            <div class="col-sm-10">{{ form.picture }}</div>#}
{##}
{#        <input name="picture" type='file' onchange="upload_img(this);" value="{{ form.picture.value }}"/>#}
{#        <img id="img_id" class="center-block" width="250" />#}
{#         </div>#}
{#    </div>#}
{#</div>#}
{##}
{##}
{#<script type="text/javascript">#}
{##}
{##}
{#        function upload_img(input) {#}
{#            if (input.files && input.files[0]) {#}
{#                var reader = new FileReader();#}
{##}
{#                reader.onload = function (e) {#}
{#                    $('#img_id').attr('src', e.target.result);#}
{#                }#}
{##}
{#                reader.readAsDataURL(input.files[0]);#}
{#            }#}
{#        }#}
{##}
{#    </script>#}